.benefit {
  padding: 50px 0;
  &__title {
    margin-bottom: 65px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__item {
    padding: 40px;
    max-width: 320px;

    img {
      height: 95px;
      margin-bottom: 20px;
    }
    h4 {
      margin: 0;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      text-transform: uppercase;
      color: $black;
      max-width: 320px;
      margin-bottom: 20px;
    }
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: $black;
      max-width: 320px;
    }
  }

  &__box{
    padding:0 15px;
    max-width: 1200px;
  }

  &__desc {
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 30px;
  }

  &__link {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #000000;
  }
}
@media (max-width: 1080px) {
.benefit{
  &__desc{
    font-size: 20px;
    line-height: 26px;
  }
}
}
