<section id="benefit" class="benefit">
  <div class="container">
    <h2 class="benefit__title title">Benefits</h2>
  </div>
  <div class="benefit__inner">
    <div class="benefit__item">
      <img src="img/svg/ben-1.svg" alt="" />
      <h4>HEADING</h4>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <div class="benefit__item">
      <img src="img/svg/ben-2.svg" alt="" />
      <h4>HEADING</h4>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <div class="benefit__item">
      <img src="img/svg/ben-3.svg" alt="" />
      <h4>HEADING</h4>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <div class="benefit__item">
      <img src="img/svg/ben-4.svg" alt="" />
      <h4>HEADING</h4>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <div class="benefit__item">
      <img src="img/svg/ben-5.svg" alt="" />
      <h4>HEADING</h4>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <div class="benefit__item">
      <img src="img/svg/ben-6.svg" alt="" />
      <h4>HEADING</h4>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
  </div>
  <div class="container">
    <div class="benefit__box ">
      <p class="benefit__desc">
        71% of online customers expect a response within of 5 minutes of reaching
        out to a company. Companyname can make this happen for your business.
      </p>
      <a class="benefit__link" href="#">Learn More</a>
    </div>
  </div>
</section>
