<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="logo"
        ><img class="log_img" src="img/logo.svg" alt=""
      /></a>
      <nav class="nav">
        <ul class="menu__list list-reset">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#home">HOME</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#why-we-are">Who We Are</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#why-us">Why Us</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#solution">Solutions</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#benefit">Benefits</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#our-team">Our Team</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#insight">Insights</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#contact">Contact Us</a>
          </li>
        </ul>
      </nav>
      <button class="btn-reset menu__btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="overlay"></div>
    </div>
  </div>
</header>
