<section
  id="home"
  class="top"
  style="
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0.18) 0%,
        rgba(0, 0, 0, 0.78) 100%
      ),
      url('img/top-bg.jpg');
  "
>
  <div class="container">
    <div class="top__inner">
      <h1 class="top__title">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h1>
      <a class="top__link" href="#">REQUEST FOR MORE INFORMATION</a>
    </div>
  </div>
</section>
