<section id="insight" class="insight">
  <div class="container">
    <h2 class="insight__title title">INSIGHTS</h2>
    <div class="insight__inner">
      <div class="insight__item">
        <img class="insight__item-img" src="img/work-1.jpg" alt="work" />
        <p class="insight__item-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          consectetur suscipit sint et tempore porro expedita, a consequuntur
          corrupti laudantium facilis minima, accusamus optio voluptas nemo
          magnam ratione exercitationem doloremque?
        </p>
      </div>
      <div class="insight__item">
        <img class="insight__item-img" src="img/work-1.jpg" alt="work" />
        <p class="insight__item-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          consectetur suscipit sint et tempore porro expedita, a consequuntur
          corrupti laudantium facilis minima, accusamus optio voluptas nemo
          magnam ratione exercitationem doloremque?
        </p>
      </div>
      <div class="insight__item">
        <img class="insight__item-img" src="img/work-1.jpg" alt="work" />
        <p class="insight__item-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          consectetur suscipit sint et tempore porro expedita, a consequuntur
          corrupti laudantium facilis minima, accusamus optio voluptas nemo
          magnam ratione exercitationem doloremque?
        </p>
      </div>
      <div class="insight__item">
        <img class="insight__item-img" src="img/work-1.jpg" alt="work" />
        <p class="insight__item-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          consectetur suscipit sint et tempore porro expedita, a consequuntur
          corrupti laudantium facilis minima, accusamus optio voluptas nemo
          magnam ratione exercitationem doloremque?
        </p>
      </div>
      <div class="insight__item">
        <img class="insight__item-img" src="img/work-1.jpg" alt="work" />
        <p class="insight__item-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          consectetur suscipit sint et tempore porro expedita, a consequuntur
          corrupti laudantium facilis minima, accusamus optio voluptas nemo
          magnam ratione exercitationem doloremque?
        </p>
      </div>
      <div class="insight__item">
        <img class="insight__item-img" src="img/work-1.jpg" alt="work" />
        <p class="insight__item-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          consectetur suscipit sint et tempore porro expedita, a consequuntur
          corrupti laudantium facilis minima, accusamus optio voluptas nemo
          magnam ratione exercitationem doloremque?
        </p>
      </div>
    </div>
  </div>
</section>
