<section id="our-team" class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__desc">
        <h2 class="team__title title">OUR TEAM</h2>
        <p class="team__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p class="team__text">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book
        </p>
        <p class="team__text">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book
        </p>
        <p class="team__text">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book
        </p>
      </div>
      <div class="team__box">
        <div class="team__col">
          <div class="team__item">
            <img class="team__item-img" src="img/team.jpg" alt="Team" />
            <p class="team__item-about">
              <span class="team__item-name">Name</span>
              <span class="team__item-profi">Designation</span>
            </p>
          </div>
        </div>
        <div class="team__col">
          <div class="team__item">
            <img class="team__item-img" src="img/team.jpg" alt="Team" />
            <p class="team__item-about">
              <span class="team__item-name">Name</span>
              <span class="team__item-profi">Designation</span>
            </p>
          </div>

          <div class="team__item">
            <img class="team__item-img" src="img/team.jpg" alt="Team" />
            <p class="team__item-about">
              <span class="team__item-name">Name</span>
              <span class="team__item-profi">Designation</span>
            </p>
          </div>
        </div>
        <div class="team__col">
          <div class="team__item">
            <img class="team__item-img" src="img/team.jpg" alt="Team" />
            <p class="team__item-about">
              <span class="team__item-name">Name</span>
              <span class="team__item-profi">Designation</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
