<section id="solution" class="solution">
  <h2 class="solution__title title title-center">SOLUTIONS</h2>
  <div class="container">
    <div class="solution__inner">
      <div class="solution__item">
        <img
          class="solution__item-img"
          src="img/svg/sol-1.svg"
          alt="solution"
        />
        <h3 class="solution__item-title">Contact Center</h3>
        <p class="solution__item-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <a class="solution__item-link" href="#">Learn More</a>
      </div>
      <div class="solution__item">
        <img
          class="solution__item-img"
          src="img/svg/sol-2.svg"
          alt="solution"
        />
        <h3 class="solution__item-title">Contact Center</h3>
        <p class="solution__item-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <a class="solution__item-link" href="#">Learn More</a>
      </div>
      <div class="solution__item">
        <img
          class="solution__item-img"
          src="img/svg/sol-3.svg"
          alt="solution"
        />
        <h3 class="solution__item-title">Contact Center</h3>
        <p class="solution__item-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <a class="solution__item-link" href="#">Learn More</a>
      </div>
    </div>
  </div>
</section>
