<section id="why-us" class="why">
  <div class="why__leftside">
    <div class="why__leftside-inner why__inner">
      <h2 class="why__title title">WHY US</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type
        specimen book.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled
        it to make a type specimen book.
      </p>
    </div>
  </div>
  <div class="why__rightside" style="background-image: url('img/why-us-bg.jpg') ;">
    <div class="why__rightside-inner why__inner" >

    </div>
  </div>
</section>
